Assessment/Connected Services/ServiceReference1/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57764/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57764/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57764/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Assessment_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_RegistrationDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationDetails" />
  </wsdl:message>
  <wsdl:message name="IUserService_RegistrationDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_LoginDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginDetails" />
  </wsdl:message>
  <wsdl:message name="IUserService_LoginDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_LogFailedLoginAttempt_InputMessage">
    <wsdl:part name="parameters" element="tns:LogFailedLoginAttempt" />
  </wsdl:message>
  <wsdl:message name="IUserService_LogFailedLoginAttempt_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogFailedLoginAttemptResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetLogInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogInfo" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetLogInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_SearchLogInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLogInfo" />
  </wsdl:message>
  <wsdl:message name="IUserService_SearchLogInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLogInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UserDetails" />
  </wsdl:message>
  <wsdl:message name="IUserService_UserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAdminData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminData" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAdminData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminDataResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetail" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateChangeRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChangeRole" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateChangeRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChangeRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAdminFirstName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminFirstName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAdminFirstName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminFirstNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UploadUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadUserDetails" />
  </wsdl:message>
  <wsdl:message name="IUserService_UploadUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DownloadUserInfoTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadUserInfoTemplate" />
  </wsdl:message>
  <wsdl:message name="IUserService_DownloadUserInfoTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadUserInfoTemplateResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="RegistrationDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/RegistrationDetails" message="tns:IUserService_RegistrationDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/RegistrationDetailsResponse" message="tns:IUserService_RegistrationDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/LoginDetails" message="tns:IUserService_LoginDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LoginDetailsResponse" message="tns:IUserService_LoginDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogFailedLoginAttempt">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/LogFailedLoginAttempt" message="tns:IUserService_LogFailedLoginAttempt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LogFailedLoginAttemptResponse" message="tns:IUserService_LogFailedLoginAttempt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetLogInfo" message="tns:IUserService_GetLogInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetLogInfoResponse" message="tns:IUserService_GetLogInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLogInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SearchLogInfo" message="tns:IUserService_SearchLogInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SearchLogInfoResponse" message="tns:IUserService_SearchLogInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UserDetails" message="tns:IUserService_UserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UserDetailsResponse" message="tns:IUserService_UserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdminData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAdminData" message="tns:IUserService_GetAdminData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAdminDataResponse" message="tns:IUserService_GetAdminData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserDetail" message="tns:IUserService_GetUserDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserDetailResponse" message="tns:IUserService_GetUserDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUserInfo" message="tns:IUserService_UpdateUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserInfoResponse" message="tns:IUserService_UpdateUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChangeRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateChangeRole" message="tns:IUserService_UpdateChangeRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateChangeRoleResponse" message="tns:IUserService_UpdateChangeRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteUser" message="tns:IUserService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteUserResponse" message="tns:IUserService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdminFirstName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAdminFirstName" message="tns:IUserService_GetAdminFirstName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAdminFirstNameResponse" message="tns:IUserService_GetAdminFirstName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UploadUserDetails" message="tns:IUserService_UploadUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UploadUserDetailsResponse" message="tns:IUserService_UploadUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadUserInfoTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DownloadUserInfoTemplate" message="tns:IUserService_DownloadUserInfoTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DownloadUserInfoTemplateResponse" message="tns:IUserService_DownloadUserInfoTemplate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrationDetails">
      <soap:operation soapAction="http://tempuri.org/IUserService/RegistrationDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginDetails">
      <soap:operation soapAction="http://tempuri.org/IUserService/LoginDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogFailedLoginAttempt">
      <soap:operation soapAction="http://tempuri.org/IUserService/LogFailedLoginAttempt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogInfo">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetLogInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLogInfo">
      <soap:operation soapAction="http://tempuri.org/IUserService/SearchLogInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserDetails">
      <soap:operation soapAction="http://tempuri.org/IUserService/UserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminData">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAdminData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetail">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChangeRole">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateChangeRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminFirstName">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAdminFirstName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadUserDetails">
      <soap:operation soapAction="http://tempuri.org/IUserService/UploadUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadUserInfoTemplate">
      <soap:operation soapAction="http://tempuri.org/IUserService/DownloadUserInfoTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:57764/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>