Assessment/Connected Services/ServiceReference1/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Assessment_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Assessment_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserClass" nillable="true" type="tns:UserClass" />
  <xs:complexType name="ArrayOfLogFailed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogFailed" nillable="true" type="tns:LogFailed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogFailed" nillable="true" type="tns:ArrayOfLogFailed" />
  <xs:complexType name="LogFailed">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailedAttemptsCount" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogFailed" nillable="true" type="tns:LogFailed" />
  <xs:complexType name="ArrayOfDataListInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataListInfo" nillable="true" type="tns:DataListInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataListInfo" nillable="true" type="tns:ArrayOfDataListInfo" />
  <xs:complexType name="DataListInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataListInfo" nillable="true" type="tns:DataListInfo" />
  <xs:complexType name="EditData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditData" nillable="true" type="tns:EditData" />
</xs:schema>